#wp_geek_options_form .wpg_upload_field{
	display:inline-block;	
	border: 1px solid #ccc;
	padding: 5px;
	margin: 5px;
}

#wp_geek_options_form #wpg_form_submit{
	display:block;	
}

.wpg_delete{
float: right;
cursor: pointer;
background: #666;
color: #fff;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
padding: 3px;;
}

.wpg_delete:after{
	content:'';
	display:block;
	clear:both;	
}