.widget_thumb{
	height:auto;	
}

.widget.wp_Geek_image{
	text-align: center;
}

.after_widget_thumb,
.before_widget_thumb{
	text-align: left;
}

.wpg_video_lightbox{
	display:block;
	position:relative;	
}

.wpg_video_lightbox:after{
	content:url(images/play.png);	
	position:absolute;
	left:50%; top:50%;
	margin:-35px 0 0 -50px;
}

.wpg_gallery{
	clear: both;
}

.wpg_gallery img{
	max-width: 100%;
	height: auto;
}